.name {
    font-size: 100px;
    font-family: 'Julius Sans One', cursive, sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
/* nav bar stuff */
.navbar {
    overflow: hidden;
}

.my-nav {
    font-size: 18px;
    margin: -3%;
}
.navbar a {
    position: fixed;
    float: right;
    color: white;
    text-align: center;
    font-family: 'Julius Sans One', cursive, sans-serif;
    margin: -3%;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px #313638; 
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}




/*------------stuff i found online------------*/
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}






/* end of nav bar stuff */


body, html {
    height: 100%;
    margin: 0;  
}

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("yellowflower.jpg");
    min-height: 100%;
}

.bgimg-2 {
    min-height: 450px;
    background-image: url("aquaflower.jpeg");

}

#about {
    margin: 80px;

}


.caption {
    text-align: center;
    font-family: "Marbre Sans";
    padding: 45px;
    padding-top: 65px; 
}

p {
    font-family: 'Julius Sans One', cursive, sans-serif;
}

#about {
    min-height: 250px;


}

.caption2 {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    
    text-align: center;
    color: white;
    font-size: 70px;
}

.caption2 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    width: 50%;

}

/* ------------------------ fade-in stuff -------------------------*/

@keyframes fadeIn
  to { 
     opacity: 1; }

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-in {
  animation: fadeIn .7s ease forwards;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

/* ------------------------ end of fade-in stuff -------------------------*/

/* ------------------------ fonts --------------------------------------- */
@font-face {
    font-family: "Marbre Sans";
    src: url(Marbre_Sans.otf);


}
